<h1>Details</h1>
<hr/>
<h2>Light</h2>
<%= line_chart charts_light_stats_path(@device), refresh: 10 %>
<hr/>
<h2>Temperature</h2>
<%= line_chart charts_temperature_stats_path(@device), refresh: 10 %>
<hr/>
<h2>Humidity</h2>
<%= line_chart charts_humidity_stats_path(@device), refresh: 10 %>