<h1>This are all your devices</h1>

<% @devices.each do |device| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to edit_device_path(device), class: 'text-decoration-none' do %>
          <%= device.alias %> <i class="bi bi-pencil"></i>
        <% end %>
      </h5>
      <div class="card-text">
        Humidity: <%= device.last_humidity %>
        Light: <%= device.last_light %>
      </div>
    </div>
  </div>
<% end %>